.App {
  display: flex;
  height: 100vh;
  /* background-color: #210b2c; */
  padding: 100px;
}

/* Left half div */
.left-section {
  width: 50%;
  position: fixed;
  height: 100%;
  overflow: hidden; /* Ensures that the content does not scroll */
  /* background-color: red; */
}

/* Right half div */
.right-section {
  width: 50%;
  margin-left: 50%; /* Push the right half to the right side */
  height: 100%;
  overflow-y: scroll; /* Allows vertical scrolling */
  /* background-color: blue; */
}